<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up ;)</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Who am I?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-radio-group value="custom-checked">
          <ion-item lines="none">
            <ion-label>A Recent joinee</ion-label>
            <ion-radio value="new" slot="start"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Not a recent joinee</ion-label>
            <ion-radio value="older" slot="start"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> My Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Name:</ion-label>
        <ion-input type="text" placeholder="Enter your name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email:</ion-label>
        <ion-input type="Email" placeholder="Enter your email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Employee ID:</ion-label>
        <ion-input type="text" placeholder="Enter your emploee ID"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password:</ion-label>
        <ion-input type="password" placeholder="Enter your password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password:</ion-label>
        <ion-input type="password" placeholder="Re-enter your password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone Number:</ion-label>
        <ion-input type="tel" placeholder="Enter your phone number"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button size="full" color="tertiary" (click)="signUp()">Sign Up</ion-button>
</ion-content>